
<div class="card custom-card">
    <div class="card-body">

        <div class="card-body pt-0">
            <div class="">
                <div class="row row-sm">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Project Name</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.ProjectName}}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Project Type</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.ProjectTypeName}}
                        </div>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Client Name</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.Client}}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Client Project Manager</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.ClientProjectManager}}
                        </div>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Start Date</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{DateFormat(ProjectPopData.StartDate)}}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>End Date</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{DateFormat(ProjectPopData.EndDate)}}
                        </div>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>No of days</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.NoOfDays}}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Project Manager</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.ProjectManagerName}}
                        </div>
                    </div>
                </div>
                <div class="row row-sm">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Member</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.MembersText}}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <b>Description</b>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ProjectPopData.Description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

