
<div class="modal-dialog modal-lg " role="document" ng-init="OnLoadMilestone()">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="MilestoneTitle">Add Milestone </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="page-container">
                <form id="frmAddMilestone" autocomplete="off">
                    <!-- container opened -->
                    <div class="container">

                        <!-- breadcrumb -->
                        <!-- breadcrumb -->
                        <!-- row -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">

                                <!--Entry Code start-->
                                @Html.Partial("~/Views/Partial/TIM_ViewProjectData.cshtml")
                                <!--Entry Code End-->
                            </div>
                        </div>
                        <!-- row closed -->
                        <!-- row -->
                        <div class="row row-sm">
                            <!--div-->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="mg-b-0 text-md-nowrap tableCss">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Milestone</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Estimated End Date</th>
                                                        <th scope="col">Days</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-label="Milestone"><input type="text" class="form-control responsivetablediv" ng-model="ngtxtMilestone" id="txtMilestone" placeholder="Enter Milestone"></td>

                                                        <td data-label="Description"><input type="text" class="form-control responsivetablediv" ng-model="ngtxtMileDescription" id="txtMileDescription" placeholder="Enter Description"></td>

                                                        <td data-label="Start Date">
                                                            <div class="input-group responsivetablediv">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                    </div>
                                                                </div>
                                                              <input  type="text" class="form-control Miledate" ng-model="ngtxtMileStartDate" id="txtMileStartDate" >
                                                            </div>
                                                            <div id="slMilestoneStartDateError"></div>
                                                        </td>

                                                        <td data-label="Estimated End Date">
                                                            <div class="input-group responsivetablediv" id="slMilestoneEndDate">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                    </div>
                                                                </div><input class="form-control Miledate" type="text" ng-model="ngtxtMileEndDate" id="txtMileEndDate">
                                                            </div>
                                                            <div id="slMilestoneEndDateError"></div>
                                                        </td>

                                                        <td data-label="Days"><input type="text" class="form-control responsivetablediv" ng-model="ngtxtMileDays" id="txtMileDays" placeholder="Enter Days" readonly="readonly"></td>

                                                        <td data-label="Action">
                                                            <div class="btn-icon-list responsivetablediv" id="divAddMile" data-internalstatus="" data-statusid="0" data-id="0">
                                                                <i data-placement="top" data-toggle="tooltip" title="Add" class="fa fa-plus text-primary mr-2"  ng-click="AddMilestone()"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- bd -->
                                    </div><!-- bd -->
                                </div><!-- bd -->
                            </div>
                            <!--div-->
                            <div class="col-xl-12" ng-show="Milestone.length > 0">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">

                                            <table class="tableCss">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Sr.No.</th>
                                                        <th scope="col">Milestone</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">Estimated End Date</th>
                                                        <th scope="col">Days</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="m in Milestone">
                                                        <td data-label="Sr.No.">{{$index+1}}</td>
                                                        <td data-label="Milestone">{{m.Milestone}}</td>
                                                        <td data-label="Description">{{m.Description}}</td>
                                                        <td data-label="Start Date">{{m.StartDateView}}</td>
                                                        <td data-label="Estimated End Date">{{m.EndDateView}}</td>
                                                        <td data-label="Days">{{m.NoOfDays}}</td>
                                                        <td data-label="Action">
                                                            <i class="si si-pencil text-primary mr-2" data-toggle="tooltip"  data-placement="top" data-original-title="Edit" ng-click="EditMilestone($index)"></i>&nbsp;
                                                            <i class="si si-trash text-danger mr-2" data-toggle="tooltip"  data-placement="top" data-original-title="Delete" ng-click="DeleteMilestone($index)" ng-hide="m.Delete == 'No'"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- bd -->
                                    </div><!-- bd -->
                                </div><!-- bd -->
                            </div>

                            <!--/div-->
                        </div>
                        <!-- row closed -->
                    </div>
                    <!-- Container closed -->
                </form>

            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary" id="btnMilestoneCreation" ng-hide="MilestoneCreationLoad" ng-click="FinalAddMilestone()">Submit</button>
            <button class="btn btn-primary" type="button" ng-show="MilestoneCreationLoad" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Please wait...
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

