
@{
    ViewBag.Title = "Project Dashboard";
}

@section style
{
    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">

    <!-- Internal Data table css -->
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
}
<style>
    #testPop1 {
        width: 30%;
        transition: 1s;
        margin-right: -40%;
    }
    .active {
        margin-right: 0%!important;
    }
    .overlay1 {
    position: fixed;
    box-shadow: -6px 3px 15px -1px rgba(0,0,0,0.36);
    background: #fff;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /*padding: 25px;*/
    overflow: hidden;
    margin:0%;
    border-radius:6px;
}
</style>

<style>
    .overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: -0.5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
    }

    .tooltip {
    z-index: 100000000!important;
    }

    .modal-lg, .modal-xl {
        max-width: 1140px;
    }

    .details-td {
        text-align: center !important;
        width: 15% !important;
    }

    #tblProject, #tblTask, .tabs-menu-body {
        width: 100% !important;
    }

    .fa {
        margin: auto !important;
    }

    .erralign {
        text-align: left;
    }

    .modal.left .modal-dialog {
        position: fixed;
        right: 0;
        margin: auto;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    /*.modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    .modal.right.fade .modal-dialog {
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.right.fade.show .modal-dialog {
        right: 0;
    }*/

    .figure {
        color: #3d3f4e;
        padding: 1rem;
        background-color: white;
    }

    /*.nav-link.html-code.active {
        border-color: black;
        background-color: white;
        color: black;
    }*/

    .fontclass {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #031b4e;
    }

    i {
        cursor: pointer;
    }

    .tabs-style-1 .main-nav-line .nav-link.active {
        /*border-color: #e0e6ed #e0e6ed #ecf0fa;*/
        border: ghostwhite;
        background-color: ghostwhite;
    }

    .border {
        background-color: ghostwhite;
    }

    .CardColor {
        background-color: linen;
    }

    .modal-backdrop.show {
        opacity: 0.3;
    }
</style>

<style>

    .tableCss {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

        .tableCss caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        .tableCss tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        .tableCss th,
        .tableCss td {
            padding: .625em;
            text-align: center;
        }

        .tableCss th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        .tableCss thead th {
            padding: 12px !important;
        }

    .fa {
        margin: auto !important;
    }

    @@media screen and (max-width: 600px) {
        .datetimepicker table {
            background: none;
        }

        .datetimepicker {
            width: auto;
        }

        .tableCss {
            border: 0;
        }

            .tableCss caption {
                font-size: 1.3em;
            }

            .tableCss thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .tableCss tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            .tableCss td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

        input {
            border-radius: 4px;
        }

        .input {
            border-radius: 4px;
        }

        .tableCss td::before {
            /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        .tableCss td:last-child {
            border-bottom: 0;
        }
        /*table td input {
            padding: .625em;
            text-align: center;
            width: 50% !important;
            margin-left: auto !important;
        }*/
        .responsivetablediv {
            margin-top: 25px !important;
        }
    }

    .erralign {
        text-align: left;
    }
</style>

<form id="frmProjectDashboard" name="frmDashboard" ng-app="ProjectDashboardApp" ng-controller="ProjectDashboardController" ng-init="LoadDashboard()" autocomplete="off">
    <!-- container opened -->
    <div class="container">
        <div ng-controller="AddTaskController" class="modal left fade" id="AddTaskPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            @Html.Partial("~/Views/Partial/TIM_AddTask.cshtml");
            <div class="overlay"></div>
        </div>

        <div ng-controller="AddSubTaskController" class="modal left fade" id="AddSubTaskPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            @Html.Partial("~/Views/Partial/TIM_AddSubTask.cshtml");
            <div class="overlay"></div>
        </div>

        <div ng-controller="AddMilestoneController" class="modal left fade" id="AddMilestonePopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            @Html.Partial("~/Views/Partial/TIM_AddMilestone.cshtml");
            <div class="overlay"></div>
        </div>


        <!-- breadcrumb -->
        <div class="breadcrumb-header mg-b-0 justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Timesheet</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Project Dashboard</span>
                </div>
            </div>
            <div class="my-auto">
                <div class="d-flex">
                    <a href="#" class="btn btn-primary float-right" ng-click="OpenAddProjectPop()">Add Project</a>
                </div>
            </div>
        </div>
        <div class="breadcrumb-header mg-t-0 mg-b-0 justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                </div>
            </div>
            <div class="my-auto wd-100p">
                <div class="d-flex">
                    <div class="panel panel-primary tabs-style-1 wd-100p">
                        <div class=" tab-menu-heading">
                            <div class="tabs-menu1">

                                <ul class="nav panel-tabs main-nav-line">
                                    <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Cards</a></li>
                                    <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Table</a></li>
                                    <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">Task</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body tabs-menu-body main-content-body-right border-top-0 border">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="row row-sm fontclass">
                                        <div class="col-12  col-lg-12 col-xl-4" ng-repeat="item in ProjectData">

                                            <div class="card card-purple">
                                                <div class="card-body CardColor">
                                                    <div class="row">
                                                        <div class="col-md-11">

                                                        </div>
                                                        <div class="col-md-1">
                                                            <i class="si si-pencil text-primary mr-2" data-placement="top" data-toggle="tooltip" title="Edit" ng-click="EditProject(item.ID)"></i>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-md-6">
                                                            <b>Project Name</b>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span>{{item.ProjectName}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-md-6">
                                                            <b>Client Name</b>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span>{{item.Client}}</span>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row pd-l-15">
                                                        <div ng-show="item.InternalStatus != 'ProjectCreated'">
                                                            <a class="badge badge-success" href="#" ng-click="GoToMilestone(item.ID)">View Milestone</a>
                                                        </div>&nbsp;
                                                        <div ng-show="item.InternalStatus == 'ProjectCreated'">
                                                            <a class="badge badge-success" href="#" ng-click="GoToMilestone(item.ID)">Add Milestone</a>
                                                        </div>&nbsp;
                                                        <div ng-show="item.InternalStatus != 'ProjectCreated' && item.InternalStatus != 'MilestoneCreated'">
                                                            <a class="badge badge-dark" href="#" ng-click="GoToLanding(item.ID)">View Task</a>
                                                        </div>&nbsp;
                                                        <div ng-show="item.InternalStatus == 'MilestoneCreated'">
                                                            <a class="badge badge-dark" href="#" ng-click="GoToLanding(item.ID)">Add Task</a>
                                                        </div>&nbsp;
                                                        <div ng-show="item.InternalStatus != 'ProjectCreated' && item.InternalStatus != 'MilestoneCreated' && item.InternalStatus != 'TaskCreated'">
                                                            <a class="badge badge-warning" href="#" ng-click="GoToLanding(item.ID)">View Subtask</a>
                                                        </div>&nbsp;
                                                        <div ng-show="item.InternalStatus == 'TaskCreated'">
                                                            <a class="badge badge-warning" href="#" ng-click="GoToLanding(item.ID)">Add Subtask</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="card mg-b-20">
                                        <div class="card-body">
                                            <div class="table-responsive fontclass">
                                                <table id="tblProject" class="table key-buttons text-md-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">Sr.no.</th>
                                                            <th class="border-bottom-0" style="padding-left: 35px;">Project Name</th>
                                                            <th class="border-bottom-0">Start Date</th>
                                                            <th class="border-bottom-0">End Date</th>
                                                            <th class="border-bottom-0">Description</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ProjectData">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <span class="details-td" id="Milestone{{$index}}">
                                                                    <span ng-if="item.InternalStatus != 'ProjectCreated'">
                                                                        <i class="si si si-plus" aria-hidden="true" ng-click="ShowMilestone($index, item)"></i>
                                                                        &nbsp;
                                                                    </span>
                                                                </span>
                                                                <span class="details-td" id="Milestone{{$index}}">
                                                                    <span ng-if="item.InternalStatus == 'ProjectCreated'">
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </span>
                                                                </span>
                                                                {{item.ProjectName}}
                                                            </td>
                                                            <td>{{item.StartDate}}</td>
                                                            <td>{{item.EndDate}}</td>
                                                            <td>{{item.Description}}</td>
                                                            <td>
                                                                <span ng-if="item.InternalStatus == 'ProjectCreated'">
                                                                    <i class="fa fa-plus text-primary mr-2" ng-click="AddMilestonePopUp(item)" data-toggle="tooltip" title="" data-placement="top" data-original-title="Add Milestone"></i>
                                                                </span>
                                                                <span ng-if="item.InternalStatus != 'ProjectCreated'">
                                                                    <i class="si si-pencil text-primary mr-2" ng-click="EditMilestonePopUp(item)" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit Milestone"></i>
                                                                    <i class="si si-trash text-danger mr-2" ng-click="DeleteMilestone(item)" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete Milestone"></i>

                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="tab3">
                                    <div class="card mg-b-20">
                                        <div class="card-body">
                                            <div class="table-responsive fontclass">
                                                <table id="tblTask" class="table key-buttons text-md-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">Sr.no.</th>
                                                            <th class="border-bottom-0" style="padding-left: 35px;">Task</th>
                                                            <th class="border-bottom-0">Member</th>
                                                            <th class="border-bottom-0">Start Date</th>
                                                            <th class="border-bottom-0">End Date</th>
                                                            <th class="border-bottom-0">Days</th>
                                                            <th class="border-bottom-0">Status</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in TaskData">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <span class="details-td" id="SubTask{{$index}}">
                                                                    <span ng-if="item.InternalStatus != 'TaskCreated'">
                                                                        <i class="si si si-plus" aria-hidden="true" ng-click="ShowSubTaskMain($index, item.ID)"></i>
                                                                        &nbsp;
                                                                    </span>
                                                                </span>
                                                                <span class="details-td" id="Milestone{{$index}}">
                                                                    <span ng-if="item.InternalStatus == 'TaskCreated'">
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </span>
                                                                </span>
                                                                {{item.Task}}
                                                            </td>
                                                            <td>{{item.MembersName}}</td>
                                                            <td>{{item.StartDate}}</td>
                                                            <td>{{item.EndDate}}</td>
                                                            <td>{{item.NoOfDays}}</td>
                                                            <td>{{item.TaskStatusName}}</td>
                                                            <td>
                                                                <span ng-if="item.InternalStatus == 'TaskCreated'">
                                                                    <i class="fa fa-plus text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Add Subtask" ng-click="OpenAddSubTaskPopMain(item)"></i>
                                                                </span>
                                                                <span ng-if="item.InternalStatus != 'TaskCreated'">
                                                                    <i class="si si-pencil text-primary mr-2" ng-click="EditSubTaskPopMain(item)" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit Subtask"></i>
                                                                    <i class="si si-trash text-danger mr-2" ng-click="DeleteSubTaskMain(item)" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete Subtask"></i>

                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container closed -->
        <!-- modal pop up -->
        <!-- Full Height Modal Right -->
        <div class="modal left fade" id="AddProjectPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

            <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
            <div class="modal-dialog" role="document">


                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Add Project </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("~/Views/Partial/TIM_ProjectCreation.cshtml")
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary" id="btnProjectCreation" ng-hide="ProjectCreationLoad">Submit</button>
                        <button class="btn btn-primary" type="button" ng-show="ProjectCreationLoad" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Please wait...
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- Full Height Modal Right -->
        <!-- end modal pop up -->
    </div>

    
    @*<div class="overlay1" id="testPop1">
            <div class="overlay-content">
                <div class="closeOverlay" id="closeOverlay1">
                    <a href="#"><i class="fa fa-times"></i></a>
                </div>
                <div class="">
                    <div class="divInner">
                        <div class="buttons text-center">
                            <button type="button" class="btn btn-primary closeOver" ng-click="showLookupFieldForDispal()">Save</button>
                            <button type="button" class="btn btn-warning closeOver" id="testPop1Cancel" ng-click="cancelFilterValues()">cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

</form>




@section scripts
{
    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

    <!-- Internal Data tables -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--- Tabs JS-->
    <script src="~/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
    <script src="~/assets/js/tabs.js"></script>

    <!--Internal  Clipboard js-->
    <script src="~/assets/plugins/clipboard/clipboard.min.js"></script>
    <script src="~/assets/plugins/clipboard/clipboard.js"></script>


    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>

    <!--Internal  Parsley.min js -->
    <script src="~/assets/plugins/parsleyjs/parsley.min.js"></script>
    <script src="~/Scripts/jquery.cookie.min.js"></script>
    <script src="~/Scripts/Angular/Timesheet/JS/TIM_ProjectDashboard.js"></script>

}