
@{
    ViewBag.Title = "Project Creation";
}

@*@using DeepeshWeb.Models.Timesheet;
    @{
        List<ProjectTypeModel> lstProjectType = new List<ProjectTypeModel>();
        lstProjectType = ViewBag.ProjectTypeData;
    }*@


<!-- Internal Select2 css -->
<link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

<!--Internal  Datetimepicker-slider css -->
<link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">

<!--- Style css-->
<link href="~/assets/css/style.css" rel="stylesheet">

<form id="frmProjectCreation" ng-app="ProjectCreationApp" ng-controller="ProjectCreationController">
    <!-- container opened -->
    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Timesheet</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Project Creation</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">

                <!--Entry Code start-->
                <div class="card custom-card">
                    <div class="card-body">

                        <div class="card-body pt-0">
                            <div class="">
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="First_Name">Project Name</label>
                                            <input name="ProjectName" type="text" class="form-control" ng-model="ngtxtProjectName" id="txtProjectName" placeholder="Enter Project Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ddlProjectType">Type</label>
                                            @Html.DropDownList("ProjectType", new SelectList(ViewBag.ProjectTypeData, "Id", "TypeName"), "Choose One", new { @class = "form-control select2", name = "ProjectType" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="txtClientName">Client Name</label>
                                            @Html.DropDownList("ClientName", new SelectList(ViewBag.ClientData, "Id", "ClientName"), "Choose One", new { @class = "form-control select2", @name = "ClientName" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="txtClientProjectManager">Client Project Manager</label>
                                            <input name="ClientProjectManager" type="text" class="form-control" ng-model="ngtxtClientProjectManager" id="txtClientProjectManager" placeholder="Enter client Project Manager">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="txtProjectStartDate">Start Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                    </div>
                                                </div><input name="StartDate" class="form-control" type="text" ng-model="ngtxtProjectStartDate" id="txtProjectStartDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="txtProjectEndDate">Estimated End Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                    </div>
                                                </div><input name="EndDate" class="form-control" type="text" ng-model="ngtxtProjectEndDate" id="txtProjectEndDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="txtNoOfDays">Number of Days</label>
                                            <input name="NoOfDays" type="text" class="form-control" ng-model="ngtxtNoOfDays" id="txtNoOfDays" placeholder="Enter number of days" disabled="disabled" value="20">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ddlProjectManager">Project Manager</label>
                                            @Html.DropDownList("ProjectManager", new SelectList(ViewBag.EmpData, "Id", "FullName"), "Choose One", new { @class = "form-control select2", @name = "ProjectManager" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ddlMembers">Members</label>
                                            @Html.DropDownList("ddlMembers", new SelectList(ViewBag.EmpData, "Id", "FullName"), "Choose One", new { @class = "form-control select2", @multiple = "multiple", @onchange = "MakeMembersText()"})
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="txtDescription">Description</label>
                                            <textarea name="Description" class="form-control" ng-model="ngtxtDescription" id="txtDescription" placeholder="Enter Description" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm text-center">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-block" ng-click="AddProject()">Submit</button>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-light btn-block">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Entry Code End-->
            </div>
        </div>
        <!-- row closed -->
    </div>
    <!-- Container closed -->
</form>

@section scripts
{
    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>
    <script src="~/Scripts/Angular/Timesheet/JS/ProjectCreation.js"></script>
    <script src="~/Scripts/Angular/Timesheet/Services/ProjectCreationService.js"></script>

    <script>
        $(function () {
            'use strict'

            // AmazeUI Datetimepicker
            $('#txtProjectStartDate').datetimepicker({
                minView: 2,
                format: 'dd-mm-yyyy',
                autoclose: true
            });

            $('#txtProjectEndDate').datetimepicker({
                minView: 2,
                format: 'dd-mm-yyyy',
                autoclose: true
            });

        });
    </script>
}
